@import './font.sass'

body
  min-height: 100vh
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  overflow: hidden

html
  font-size: clamp($font-size-min, $font-size-desktop, $font-size-max)
  @include xl
    font-size: clamp($font-size-min, $font-size-mobile, $font-size-max)

img
  user-select: none
  pointer-events: none

a
  color: inherit
  text-decoration: none