@import './reset.sass'
@import './variables.sass'
@import './breakpoints.sass'
@import './font.sass'
@import './transition.sass'

//
//html
//  font-size: clamp($font-size-min, $font-size-desktop, $font-size-max)
//  @include xl
//    font-size: clamp($font-size-min, $font-size-mobile, $font-size-max)
//
//html, body
//  width: 100vw
//  margin: 0
//  padding: 0

p, h1, h2, h3, h4, h5, h6, a, li, span, div
  white-space: pre-line
  color: inherit

.grecaptcha-badge
  display: none
